[submodule "TricksterEngine/vendor/spdlog"]
	path = TricksterEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "TricksterEngine/vendor/GLFW"]
	path = TricksterEngine/vendor/GLFW
	url = https://github.com/shaesus/glfw
[submodule "TricksterEngine/vendor/imGUI"]
	path = TricksterEngine/vendor/imGUI
	url = https://github.com/shaesus/imgui
